<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picto.dao.MerchantDao">
    <sql id="queryMechantColumn">
        select ID AS id,
        merchant_name AS mechantName,
        brand AS brand,
        industry_type AS industryType,
        phone AS phone,
        mobile AS mobile,
        address AS address,
        volumn AS volumn,
        main_business AS mainBusiness,
        remark AS remark,
        lottery_link AS lotteryLink,
        lottery_qrcode AS lotteryQrcode,
        query_link AS queryLink,
        main_advert AS mainAdvert,
        banner_advert AS bannerAdvert,
        query_advert AS queryAdvert,
        lottery_channel AS lotteryChannel,
        mechant_qrcode AS mechantQrcode,
        state AS state,
        create_time AS createTime,
        update_time AS updateTime,
        save_type AS saveType
        from merchant
    </sql>

    <select id="queryMechantById" resultType="com.picto.entity.Merchant">
        <include refid="queryMechantColumn" />
        where id = #{id} and state = 1
    </select>

    <select id="queryAllMerchants" resultType="com.picto.entity.Merchant">
        <include refid="queryMechantColumn" />
        where state = 1
    </select>
</mapper>