<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picto.dao.MerchantDao">
    <sql id="queryMechantColumn">
        select ID AS id,
        merchant_name AS mechantName,
        brand AS brand,
        industry_type AS industryType,
        phone AS phone,
        mobile AS mobile,
        address AS address,
        volumn AS volumn,
        main_business AS mainBusiness,
        remark AS remark,
        lottery_link AS lotteryLink,
        lottery_qrcode AS lotteryQrcode,
        query_link AS queryLink,
        main_advert AS mainAdvert,
        banner_advert AS bannerAdvert,
        query_advert AS queryAdvert,
        lottery_channel AS lotteryChannel,
        mechant_qrcode AS mechantQrcode,
        state AS state,
        create_time AS createTime,
        update_time AS updateTime,
        save_type AS saveType
        from merchant
    </sql>

    <select id="queryMechantById" resultType="com.picto.entity.Merchant">
        <include refid="queryMechantColumn" />
        where id = #{id} and state = 1
    </select>

    <insert id="addMerchant" keyProperty="id" useGeneratedKeys="true" parameterType="com.picto.entity.Merchant">
        insert into merchant(merchant_name, brand, industry_type, phone, mobile, address, volumn, main_business, remark, lottery_link, lottery_qrcode, query_link, banner_advert, query_advert, lottery_channel, mechant_qrcode, state, create_time, update_time, save_type)
        values(#{mechantName}, #{brand}, #{industryType}, #{phone}, #{mobile}, #{address}, #{volumn}, #{mainBusiness}, #{remark}, #{lotteryLink}, #{lotteryQrcode}, #{queryLink}, #{bannerAdvert}, #{queryAdvert}, #{lotteryChannel}, #{mechantQrcode}, #{state}, #{createTime}, #{updateTime}, #{saveType})
    </insert>

    <select id="queryAllMerchants" resultType="com.picto.entity.Merchant">
        <include refid="queryMechantColumn" />
        where state = 1
    </select>

    <update id="updateMerchant">
        update merchant
        set update_time = #{updateTime}
        <if test="mechantName != null">
            , merchant_name = #{mechantName}
         </if>
        <if test="brand != null">
            , brand = #{brand}
        </if>
        <if test="phone != null">
            , phone = #{phone}
        </if>
        <if test="address != null">
            , address = #{address}
        </if>
        <if test="volumn != null">
            , volumn = #{volumn}
        </if>
        <if test="mainBusiness != null">
            , main_business = #{mainBusiness}
        </if>
        <if test="remark != null">
            , remark = #{remark}
        </if>
        <if test="mainAdvert != null">
            , main_advert = #{mainAdvert}
        </if>
        <if test="bannerAdvert != null">
            , banner_advert = #{bannerAdvert}
        </if>
        <if test="queryAdvert != null">
            , query_advert = #{queryAdvert}
        </if>
        <if test="mechantQrcode != null">
            , mechant_qrcode = #{mechantQrcode}
        </if>
        <if test="saveType != null">
            , save_type = #{saveType}
        </if>
        where id = #{id}
    </update>
</mapper>