<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picto.dao.TestDao">
    <select id="queryTest" resultType="com.picto.entity.TestEntity">
        select ID AS id,
          NAME AS name
        from test.test
    </select>

    <insert id="addTestEntity" keyProperty="id" useGeneratedKeys="true" parameterType="com.picto.entity.TestEntity">
        insert into test.test values(#{id}, #{name})
    </insert>
</mapper>