body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/background.jpg);
    background-size: 100% 100%;
    color: white;
    font-family: "Microsoft YaHei" ! important;
}
div#logo {
    width: 100%;
    height: 5%;
}
#logo img { width: 100%; height : 100%;}
div#main {
    border: 3px solid white;
    width: 99.5%;
    height: 94.5%;
    overflow: scroll;
    -webkit-overflow-scrolling : touch;
}

div#queryAdvert{
    height:16%;
    width: 99%;
    position: fixed;
    bottom: 0.5%;
    left: 0.5%;
}
div#queryAdvert img{width:100%;height:100%;}


.left {
    float: left;
    clear: none;
    text-align: center;
    width: 30%;
    margin: 4% 0 3% 6%;
    font-size: 1.7em;
    height: 15%;
    white-space: nowrap;
}
.left img{
    width:100%;
    height:80%;
    border:solid 5px white;
}

.couponDiv {
    border-bottom: dashed 3px white;
    width: 90%;
    margin: 0 auto;
}

div#right {
    float: left;
    clear: none;
    width: 60%;
    text-align: center;
    font-size: 3em;
    margin-top: 5%;
}

div#useMsg {
}

div#name {
    color: #FFE59B;
    font-size: 1.2em;
    font-weight: bold;
}

div#discount {
    color: #FD3657;
    font-weight: bold;
    margin: 3% auto;
    font-size: 1.1em;
}
div#discount span{
    font-size:0.7em;
    border:solid 2px white;
}
#useMsg{
    font-size:0.8em;
}